*{
    margin: 0;
    padding: 0;
}
.imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 25px;
    
}

.img1{
    display: block; 
    height: 57px;
    margin-left: -10px;
   
}

.img2{
    display: block;
    height: 33px;
    width: 125px;
    margin-top: 15px;

}
.fnav input{
    height: 37px;
    width: 435px;
    margin-top:15px ;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    box-shadow: 0 0 5px rgba(81, 282, 255, 0.2);
    /* transition: 0.3s; */
    margin-right: 120px;
    margin-left: 112px; ;
    

}

.fnav input::placeholder{
    font-size: 15px;
    color: #888 ;
    opacity: 0.9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.fnav{
    display: flex;
    margin-top: 1rem;
    justify-content: space-around ;
    align-items: center;
}

.fnav p{
    font-size: 13px;
    color: #000042;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 17px;
    margin-left: 20px;
}

.fnav .para{
    display: flex;
    gap: 35px;
    margin-top: 10px;
    margin-right: 39px;  
}
.snav{
    display: flex;
    justify-content: space-between;
    background-color: #fbf9f7;
    /* padding: 5px; */
    position: relative;
    margin-top: 10px;
    height: 60px;
   
}
.snav .categories{
    display: flex;
    flex-direction: row;
    gap: 14px;
    background: #fbf9f7;
    padding: 0px;
    /* margin-right: 100px; */
    /* margin-top: 20px ; */
    margin-left: 25px;
    line-height: 60px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(51, 51, 51);
    cursor: pointer;
    font-weight: 600;
    height: 62px;
    width: 61vw;
   justify-content: center;

}

.snav .offers{
   justify-content: center;
   align-items: center;
   display: flex;
   gap: 5px;
   margin-right: 35px;
  
   
}
.snav .offers .offer1{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.snav .offers .offer2{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.snav .offers .offer3{
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

}
.main-container{
    position: fixed;
    background-color: #fff;
    top: 0;
    /* left: 0; */
    /* width: 100vw; */
    z-index: 1000;
}
.main-slider{
    /* position:relative; */
    /* width: 99vw; */
    /* height: 90vh; */
    /* margin-top:130px ; */
    /* overflow:hidden; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}
.slider-imgs{
    /* display: flex; */
    /* transition: transform 0.5s ease; */
    /* height: 100%; */
    /* width: 100%; */
}

/* Slider start */
.hero-slider {
  margin-top: 143px;
  position: relative;
  width: 100%;
  height: 420px;      /* adjust height if needed */
  overflow: hidden;
}

/* ALL SLIDES IN ONE HORIZONTAL ROW */
.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

/* EACH SLIDE MUST TAKE FULL WIDTH */
.slide {
  min-width: 100%;      /* IMPORTANT */
  max-width: 100%;      /* IMPORTANT */
  height: 100%;
  object-fit: cover;    /* FIT IMAGE CORRECTLY */
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10;
}

.arrow.left { left: 20px; }
.arrow.right { right: 20px; }

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

/* Slider Ends */


.container{
    display: flex;
    justify-content: space-between;
   
}
.container .wear-trend{
    margin-top: 80px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.container .wear-trend .text1{
    font-size: 50px;
    font-weight:bold;
    font-family:  "Plus Jakarta Sans", sans-serif;;
    color:rgb(51, 51, 51);
    line-height: 1.2;
    letter-spacing: -2px;
    
    
}
.container .wear-trend .text2{
    font-size: 50px;
    font-weight:bold;
    font-family:  "Plus Jakarta Sans", sans-serif;
    color:rgb(51, 51, 51);
     letter-spacing: -2px;
}
.container .wear-trend .text3{
    font-size: 50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    line-height: 0.4;
    color:rgb(51, 51, 51);
     letter-spacing: -2px;
    
}
.container .wear-trend .text4{
    font-size: 17px;
    margin-top: 20px;   
    font-family: "Plus Jakarta Sans-Medium", sans-serif; 
}
.slidebar{
    display: flex;
    margin-right: 60px;
    margin-top: 48px;
   
}
.slidebar .leftarrow img{
    height: 50px;
    margin-top: 150px;
    margin-right: 28px;
}


.slidebar .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67px;
    margin-bottom: 20px;
}
.slidebar .cart img{
    height: 95px;
}
.slidebar .cart .card{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   cursor: pointer;
   
}
.slidebar .cart .card p{
    font-size: 18px;
    margin-top: 5px;
    font-family: "Plus Jakarta Sans-Medium", sans-serif;
    color: rgb(67, 65, 65);
}
.slidebar .cart .card button{
    height: 45px;
    width: 138px;
    background-color: #56b7c3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: 8px;
}
.slidebar .rightarrow img{
    height: 50px;
    margin-top: 150px;
    margin-left: 30px;
}

.box1{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}

/* for all h4 headings */

h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
h4::before,
h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

}

/* for all h4 headings */


/* .box1 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box1 h4::before,
.box1 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box1 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box2{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box2 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box2 h4::before,
.box2 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box2 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box3{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box3 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box3 h4::before,
.box3 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box3 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box4{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box4 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box4 h4::before,
.box4 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box4 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box5{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box5 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box5 h4::before,
.box5 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box5 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box6{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box6 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box6 h4::before,
.box6 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box6 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.box7{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box7 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box7 h4::before,
.box7 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */
.box7 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.box8{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box8 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box8 h4::before,
.box8 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;

} */

.box8-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 163px;
    margin-right: 163px;
    cursor: pointer;
    
}
.box8-1-2 .box8-1{   
    height: 680px;
    
}
.box8-1-2 .box8-2{
    height: 333px;
    margin-top: 10px;
    
}
.box8-1-2{
    row-gap: 10px;
}

.box8-3-4 .box8-3{
    height: 333px;

   
    
}
.box8-3-4 .box8-4{
    height: 330px;
    margin-bottom: 280px;
    margin-top: 10px;
    
}

.box9{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
}
/* .box9 h4{
    display: inline-block;
    padding: 0 12px;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
}
.box9 h4::before,
.box9 h4::after{
    content: "";
    display: inline-block;
    width: 420px;
    height: 0.1px;
    background-color: #cfcdcd;
    vertical-align: middle;
    margin: 0 12px;
} */
.box9-img{
   display: flex;
   justify-content: center;
   gap: 15px;
   
}
.box9-img img{
    height: 340px;
    cursor: pointer;
}

.box10{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
    
}
.box10-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box10-img-1{
    margin-left: 59px;
    height: 254px;
    width: 91%;
    cursor: pointer;
}
.box10-img-2{
    height: 330px;
    width: 91%;
    margin-left: 59px;
    margin-top: 17px;
    cursor: pointer;
}
.box10-img-3{
    margin-right: 61px;
    height: 254px;
    width: 91%;
    cursor: pointer;
    
}
.box10-img-4{
    height: 330px;
    width: 91%;
    margin-right: 59px;
    margin-top: 17px;
    cursor: pointer;
}
.box11{
    text-align: center;
    padding: 16px 0px;
    margin-top: 60px;
    
}
.box11-img img{
    height: 274px;
    cursor: pointer;
}
.section1{
    display: flex;
    font-size: 21px;
    font-weight: 400;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    background: transparent;
    justify-content: space-between;
    margin-top: 20px;

}
.eyeglass{
    margin-left: 163px;
}
.view-range{
    font-size: 17px;
    margin-right: 163px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    cursor: pointer;
    color: rgb(50, 156, 146)
}
.line{
    content: "";
    display: inline-block;
    width: 79%;
    height: 0.1px;
    justify-content: center;
    align-items: center;
    background-color: #cfcdcd;
    /* background-color: rgb(158, 41, 41); */
    /* vertical-align:bottom; */
    margin-left: 161px;
    margin-bottom: 12px;
} 
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.section2-imgs{
    display: flex;
    cursor: pointer;
    margin-right: 32px;
    margin-left: 91px;
    gap: 80px
}
.section2-imgs img{
    height: 140px;
}

.section2-icon img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    margin-bottom: 12px;
    cursor: pointer;
}
.box12-img img{
    width: 100%;
}
.box13-img img{
    width: 100%;
}
.box14-img img{
    width: 100%;
}
.box15-img img{
    width: 100%;
}
.box16-img img{
    width: 100%;
}
.box17-img img{
    width: 100%;
}
.footer{
    /* padding: 51px; */
    padding: 50px 52px 33px 52px;
    margin-top:20px ;
    background-color: #000042;
    color: white;
}
.footer h1{
    font-family:"Plus Jakarta Sans-Medium", sans-serif;
    margin-bottom: 18px;
}
.footer .para1{
    font-size: 14px;
    color: rgb(252, 252, 252);
    font-family:"Plus Jakarta Sans-Medium", sans-serif;
    margin-bottom: 15px;
}
.footer .para2{
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgb(252, 252, 252);
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
}
.footer .para2 a{
    text-decoration: none;
    color: rgb(50, 156, 146);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 46px 0px;
}
.ul-section{
    display: flex;
    gap: 95px;
    line-height: 2.7;
}
.ul-section h2{
    font-size: 20px;
    font-weight: 200;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
}
.ul-section ul li{
    list-style: none;
    font-size: 13px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
    cursor: pointer;

}
.download-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.footer-imgs{
    display: flex;
    /* gap: var(--spacing-sm); */
    /* row-gap: 8.1px; */
    column-gap: 8.1px;
    /* flex-wrap: wrap; */
    cursor: pointer;
}

.download-section .para3{
    margin-top: 20px;
    font-family: "Plus Jakarta Sans-Medium", sans-serif;
    font-size: 15px;
}
.download-section .para4{
    font-family: "Plus Jakarta Sans-Medium", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.line2{
    content: "";
    display: inline-block;
    width: 99%;
    height: 0.1px;
    justify-content: center;
    align-items: center;
    background-color: #cfcdcd;
    /* margin-left: 161px; */
    margin-bottom: 35px;
} 
.footer-content2{
    display: flex;
    justify-content: space-between;
}
.ul-section2 ul{
    display: flex;
    gap: 48px;
}
.ul-section2 ul li{
    list-style: none;
    font-size: 14px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif;
    cursor: pointer;
}
.follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    margin-right: 42px;
}
.follow-us .version{
    font-size: 12px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
}
.follow-us .or{
    font-size: 12px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
}
.follow-us .follow{
    font-size: 12px;
    font-family:"Plus Jakarta Sans-Medium", sans-serif ;
}
.social{
    margin-left: 11px;
}
.social-icons{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.whatsapp-logo{
    position: fixed;
    bottom: 29px;
    cursor: pointer;
    right: 34px;
}
